apiVersion: apps/v1
kind: Deployment
metadata:
  name: kubehealth
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kubehealth
  template:
    metadata:
      labels:
        app: kubehealth
    spec:
      serviceAccountName: kubehealth-sa
      containers:
        - name: kubehealth
          image: kubehealth:dev
          imagePullPolicy: IfNotPresent
          env:
            - name: NAMESPACE
              value: default
            - name: PORT
              value: "8080"
          ports:
            - containerPort: 8080
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /healthz
              port: 8080
            initialDelaySeconds: 2
            periodSeconds: 5
